body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.header .container {
  display: flex;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  align-items: center;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-second-part {
  color: #2e2f42;
}
.header-list {
  gap: 40px;
  display: flex;
}
.header-item {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  display: inline-block;
  padding: 24px 0;
}
.header-link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-address {
  margin-left: auto;
  font-style: normal;
  display: flex;
  align-items: center;
}
.header-address-list {
  gap: 40px;
}
.header-address-item {
  display: inline-block;
  list-style: none;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  text-decoration: none;
}
.header-address-link:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-style: normal;
}
.header-address-link:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-style: normal;
}
.header-address-list {
  display: flex;
}
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.hero-button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.hero-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1128px;
  text-align: left;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: 264px;
  list-style: none;
  text-decoration: none;
  width: calc((100% - 72px) / 4);
}
.features-item-wrapper {
  margin-right: 0;
}
.features-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-subtitles {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.members {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.members-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.members-list {
  display: flex;
}
.members-list .members-item:nth-child(-n + 3) {
  margin-right: 24px;
}
.members-item {
  list-style: none;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.members-picture {
  display: block;
}
.container-name {
  padding: 32px 0;
}
.members-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.members-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  list-style: none;
  text-decoration: none;
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}
.portfolio-picture {
  display: block;
}
.portfolio-wrapper {
  text-align: left;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  text-align: left;
}
.footer .container {
  text-align: left;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-second-part {
  color: #f4f4fd;
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
